server {
    listen      {{ nginx_install_listen_http }};
    server_name {{ nginx_install_default_domain }};
    server_name_in_redirect off;
    rewrite     ^ https://$server_name$request_uri? permanent;
}

server {
    listen      {{ nginx_install_listen_https }} ssl;
    server_name {{ nginx_install_default_domain }};

    ssl_certificate     /etc/ssl/certs/ssl-cert-snakeoil.pem;
    ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;

    location /.well-known {
        alias /var/www/html/.well-known;
    }

    location / {
        proxy_pass       https://localhost:{{ nginx_install_default_kerio_port }};
        proxy_set_header Host                 $host;
        proxy_set_header X-Real-IP            $remote_addr;
        proxy_set_header X-Forwarded-For      $proxy_add_x_forwarded_for;
        proxy_set_header X-Remote-Port        $remote_port;
        proxy_set_header X-Forwarded-Proto    $scheme;
        proxy_redirect  off;
    }
}
